<div class="page-main">
  <div class="page-padding">
    <section class="dashboard">
      <div class="dashboard-wrapper">
        <div class="title-wrapper">
          <h1 class="large">Page Engagements</h1>
          <% if @engagements.empty? %>
          <button>
            <%= link_to 'Créer', new_engagement_path %>
          </button>
          <% end %>
        </div>
        <div class="content-wrapper">
          <div class="content">
            <div class="content-infos_wrapper active">
              <% @engagements.each do |engagement| %>
                <div class="content-infos">
                    <h4>Sensibilisation</h4>
                    <%= sanitize("#{engagement.sensib}".truncate(250)) %>
                    <hr>
                    <h4>Protection</h4>
                    <%= sanitize("#{engagement.protec}".truncate(250)) %>
                    <hr>
                    <h4>Règles</h4>
                    <%= sanitize("#{engagement.rules}".truncate(250)) %>
                    <hr>
                    <h4>Partenaires</h4>
                    <%= sanitize("#{engagement.partner}".truncate(250)) %>
                    <hr>
                    <h4>Image de couverture</h4>
                    <%= cl_image_tag engagement.engagements_img.key, height: 150, width: 200, crop: :fill %>
                </div>
                <div class="content-links">
                  <button>
                    <%= link_to 'Modifier les infos', edit_engagement_path(engagement) %>
                  </button>
                  <% if @engagements.count > 1 %>
                  <button>
                    <%= link_to "Supprimer", engagement_path(engagement), data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr ?"}%>
                  </button>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
