<div class="page-main">
  <div class="page-padding">
    <section class="dashboard" data-controller="tabs">
      <div class="dashboard-wrapper">
        <h1 class="large">Créer/modifier un Point d'interêt</h1>
        <div class="form-wrapper">
          <div class="form">
            <%= simple_form_for(@point) do |f| %>
              <div class="form-tabs_wrapper">
                <span class="form-tab active" data-tabs-target="tab" data-action="click->tabs#activate" data-tab-name="infos">Infos</span>
                <span class="form-tab" data-tabs-target="tab" data-action="click->tabs#activate" data-tab-name="images">Images</span>
                <span class="form-tab" data-tabs-target="tab" data-action="click->tabs#activate" data-tab-name="video">Vidéo</span>
                <span class="form-tab" data-tabs-target="tab" data-action="click->tabs#activate" data-tab-name="audio">Audio</span>
              </div>
              <hr>
              <div class="form-bloc_wrapper active" data-tabs-target="panel" data-tab-name="infos">
                <%= f.input :title, label: false, required: true, placeholder: 'Titre du point dinterêt' %>
                <%= f.input :infos, as: :text, label: false, required: true, placeholder: 'Description du point dinterêt' %>
                <span class="large poppins-semibold">Coordonnées :</span>
                <div class="form-grid">
                  <%= f.input :lat, label: false, required: true, placeholder: 'Latitude du point dinterêt' %>
                  <%= f.input :long, label: false, required: true, placeholder: 'Longitude du point dinterêt'%>
                </div>
              </div>
              <div class="form-bloc_wrapper" data-tabs-target="panel" data-tab-name="images">
              <% (1..10).each do |i| %>
                <span class="large poppins-semibold">
                  Image <%= i %>
                </span>

                <% image_key = :"image_#{i}" %>
                <% comment_key = :"image_#{i}_commment" %>

                <% if @point.send(image_key).attached? %>
                  <div class="image-delete">
                    <%= cl_image_tag @point.send(image_key).key, width: 250 %>
                    <div class="image-delete-checkbox">
                      <%= check_box_tag "remove_images[]", image_key %> Supprimer cette image
                    </div>
                  </div>
                <% end %>

                <%= f.input image_key, as: :file, label: false, placeholder: "Image #{i}" %>
                <%= f.rich_text_area comment_key, as: :text, label: false, placeholder: "Commentaire Image #{i}" %>

                <% unless i == 10 %>
                  <hr>
                <% end %>
              <% end %>
            </div>
              <div class="form-bloc_wrapper" data-tabs-target="panel" data-tab-name="video">
                <span class="large poppins-semibold">
                  Vidéo
                </span>
                <%= f.input :video, label: false, placeholder: 'Id Vimeo uniquement' %>
              </div>
              <div class="form-bloc_wrapper" data-tabs-target="panel" data-tab-name="audio">
                <span class="large poppins-semibold">
                  Audio
                </span>
                <%= f.input :audio, label: false, placeholder: 'Placez une balise iframe / embed' %>
              </div>
              <hr>
              <button>
                <%= f.button :submit, "Créer/modifier le point d'interêt" %>
              </button>
            <% end %>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
