<div class="page-main">
  <div class="page-padding">
    <section class="dashboard">
      <div class="dashboard-wrapper">
        <h1 class="large">Créer/modifier un Point d'interêt</h1>
        <div class="form-wrapper">
          <div class="form">
            <%= simple_form_for(@point) do |f| %>
              <%= f.input :title, label: false, placeholder: 'Titre du point dinterêt' %>
              <%= f.input :infos, as: :text, label: false, placeholder: 'Description du point dinterêt' %>
              <span class="large poppins-semibold">Coordonnées :</span>
              <div class="form-grid">
                <%= f.input :lat, label: false, placeholder: 'Latitude du point dinterêt' %>
                <%= f.input :long, label: false, placeholder: 'Longitude du point dinterêt'%>
              </div>
              <hr>
              <div class="form-bloc">
                <h4 class="poppins-semibold">
                  Médias :
                </h4>
                <span class="large poppins-semibold">
                  Image 1
                </span>
                <%= f.input :image_1, as: :file, label: false, placeholder: 'Image 1' %>
                <%= f.input :image_1_commment, as: :text, label: false, placeholder: 'Commentaire Image 1' %>
                <span class="large poppins-semibold">
                  Image 2
                </span>
                <%= f.input :image_2, as: :file, label: false, placeholder: 'Image 2' %>
                <%= f.input :image_2_commment, as: :text, label: false, placeholder: 'Commentaire Image 2' %>
                <span class="large poppins-semibold">
                  Image 3
                </span>
                <%= f.input :image_3, as: :file, label: false, placeholder: 'Image 3' %>
                <%= f.input :image_3_commment, as: :text, label: false, placeholder: 'Commentaire Image 3' %>
                <span class="large poppins-semibold">
                  Image 4
                </span>
                <%= f.input :image_4, as: :file, label: false, placeholder: 'Image 4' %>
                <%= f.input :image_4_commment, as: :text, label: false, placeholder: 'Commentaire Image 4' %>
                <span class="large poppins-semibold">
                  Image 5
                </span>
                <%= f.input :image_5, as: :file, label: false, placeholder: 'Image 5' %>
                <%= f.input :image_5_commment, as: :text, label: false, placeholder: 'Commentaire Image 5' %>
                <span class="large poppins-semibold">
                  Image 6
                </span>
                <%= f.input :image_6, as: :file, label: false, placeholder: 'Image 6' %>
                <%= f.input :image_6_commment, as: :text, label: false, placeholder: 'Commentaire Image 6' %>
                <span class="large poppins-semibold">
                  Image 7
                </span>
                <%= f.input :image_7, as: :file, label: false, placeholder: 'Image 7' %>
                <%= f.input :image_7_commment, as: :text, label: false, placeholder: 'Commentaire Image 7' %>
                <span class="large poppins-semibold">
                  Image 8
                </span>
                <%= f.input :image_8, as: :file, label: false, placeholder: 'Image 8' %>
                <%= f.input :image_8_commment, as: :text, label: false, placeholder: 'Commentaire Image 8' %>
                <span class="large poppins-semibold">
                  Image 9
                </span>
                <%= f.input :image_9, as: :file, label: false, placeholder: 'Image 9' %>
                <%= f.input :image_9_commment, as: :text, label: false, placeholder: 'Commentaire Image 9' %>
                <span class="large poppins-semibold">
                  Image 10
                </span>
                <%= f.input :image_10, as: :file, label: false, placeholder: 'Image 10' %>
                <%= f.input :image_10_commment, as: :text, label: false, placeholder: 'Commentaire Image 10' %>
                <span class="large poppins-semibold">
                  Vidéo
                </span>
                <%= f.input :video, label: false, placeholder: 'Vidéo du point dinterêt' %>
                <span class="large poppins-semibold">
                  Audio
                </span>
                <%= f.input :audio, label: false, placeholder: 'Audio du point dinterêt' %>
              </div>
              <button>
                <%= f.button :submit, "Créer/modifier le point d'interêt" %>
              </button>
            <% end %>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
