<div class="page-main">
  <div class="page-padding">
    <section class="dashboard">
      <div class="dashboard-wrapper">
        <div class="title-wrapper">
          <h1 class="large">Mes Points d'interêt</h1>
          <button>
            <%= link_to 'Créer un nouveau point dinterêt', new_point_path %>
          </button>
        </div>
        <div class="content-wrapper">
          <% @points.sort_by(&:title).each do |point| %>
            <div class="content">
              <div class="content-title">
                <h4 data-tabs-target="tab" data-action="click->tabs#activate" data-tab-name="<%= point.title %>"><%= point.title %></h4>
              </div>
              <div class="content-infos_wrapper" data-tabs-target="panel" data-tab-name="<%= point.title %>">
                <div class="content-infos">
                  <p><%= sanitize("#{point.infos}".truncate(150)) %></p>
                  <% if point.image_1.attached? %>
                    <%= cl_image_tag point.image_1.key, height: 150, width: 200, crop: :fill %>
                  <% end %>
                </div>
                <div class="content-links">
                  <% if point.qr_code? %>
                  <button>
                    <%= link_to "Télécharger le QR code", download_qr_code_point_path(point)%>
                  </button>
                  <% end %>
                  <button>
                    <%= link_to "Voir le point", point_path(point) %>
                  </button>
                  <button>
                    <%= link_to 'Modifier le point', edit_point_path(point) %>
                  </button>
                  <button>
                    <%= link_to "Supprimer le point", point_path(point), remote: true, data: {turbo_confirm: "Êtes-vous sûr ?", turbo_method: :delete}%>
                  </button>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </section>
  </div>
</div>
