<div class="navbar navbar-expand-sm">
  <%= link_to root_path, class: "navbar-logo" do %>
    <%= image_tag "logo.png" %>
  <% end %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav" data-controller="navbar">
      <li class="nav-item poppins-medium" data-action="mouseleave->navbar#removeDropright">
          <span class="nav-link gray" data-navbar-target="link" data-action="mouseover->navbar#dropright">
            <i class="fa-solid fa-arrow-right"></i>
            Menu du site
          </span>
        <div class="nav-dropright-menu" data-navbar-target="dropright">
          <%= link_to "Itinéraires", sentiers_path, class:"nav-link" %>
          <%= link_to "Thèmes", themes_sentiers_path, class:"nav-link" %>
          <%= link_to "Engagements", engagements_path, class:"nav-link" %>
          <%= link_to "Découverte", decouvertes_path, class:"nav-link" %>
          <%= link_to "Contact", "#", class:"nav-link" %>
          <% if user_signed_in? && current_user.admin?%>
            <%= link_to "Tableau de bord", dashboard_path, class: "nav-link" %>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
  <div class="nav-infos padding-top">
    <h1><%= @sentier.title %></h1>
    <div class="sentier-infos">
      <div class="difficulty">
        <i class="fa-solid fa-arrow-right rotated-top-right"></i>
        <span><%= @sentier.difficulty %></span>
      </div>
      <div class="duration">
        <i class="fa-regular fa-clock"></i>
        <span><%= @sentier.duration.strftime("%H:%M") %></span>
      </div>
    </div>
    <p><%= @sentier.description %></p>
  </div>
</div>
