<div class="page-main">
  <div class="page-padding">
    <section class="dashboard">
      <div class="dashboard-wrapper">
        <h1 class="large">Modifier la page engagements </h1>
        <div class="form-wrapper">
          <div class="form">
            <%= simple_form_for(@engagement) do |f| %>
              <div class="form-bloc">
                <span class="large poppins-semibold">
                  Texte Sensibilisation
                </span>
                <%= f.rich_text_area :sensib, as: :text, label: false %>
              </div>
              <div class="form-bloc">
                <span class="large poppins-semibold">
                  Texte Protection
                </span>
                <%= f.rich_text_area :protec, as: :text, label: false %>
              </div>
              <div class="form-bloc">
                <span class="large poppins-semibold">
                  Texte Règles
                </span>
                <%= f.rich_text_area :rules, as: :text, label: false %>
              </div>
              <div class="form-bloc">
                <span class="large poppins-semibold">
                  Texte Partenaires
                </span>
                <%= f.rich_text_area :partner, as: :text, label: false %>
              </div>
              <div class="form-bloc">
                <span class="large poppins-semibold">
                  Image de couverture
                </span>
              <%= f.input :engagements_img, as: :file, label: false %>
              </div>
              <button>
                <%= f.button :submit, "Créer/Modifier" %>
              </button>
            <% end %>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
