<div class="page-main">
  <div class="page-padding no-padding">
    <section class="static-pages">
      <div class="static-pages_wrapper">
        <% @engagements.each  do |engagement| %>
          <div class="static_wrapper active" data-tabs-target="panel" data-tab-name="sensibilisation">
            <div class="static-image">
              <%= cl_image_tag engagement.engagements_img.key, crop: :fit %>
            </div>
            <div class="static-infos">
              <h4>Sensibilisation</h4>
              <%= engagement.sensib %>
            </div>
          </div>
          <div class="static_wrapper" data-tabs-target="panel" data-tab-name="protection">
            <div class="static-image">
              <%= cl_image_tag engagement.engagements_img.key, crop: :fit %>
            </div>
            <div class="static-infos">
              <h4>Protection</h4>
              <%= engagement.protec %>
            </div>
          </div>
          <div class="static_wrapper" data-tabs-target="panel" data-tab-name="reglementation">
            <div class="static-image">
              <%= cl_image_tag engagement.engagements_img.key, crop: :fit %>
            </div>
            <div class="static-infos">
              <h4>Réglementation</h4>
              <%= engagement.rules %>
            </div>
          </div>
          <div class="static_wrapper" data-tabs-target="panel" data-tab-name="partenaires">
            <div class="static-image">
              <%= cl_image_tag engagement.engagements_img.key, crop: :fit %>
            </div>
            <div class="static-infos">
              <h4>Partenaires</h4>
              <%= engagement.partner %>
            </div>
          </div>
        <% end %>
      </div>
    </section>
  </div>
</div>
