<ul>
  <% @decouvertes.each do |decouverte| %>
    <p><%= decouverte.circuit_acc_text %></p>
    <p><%= decouverte.circuit_acc_img %></p>
    <p><%= decouverte.anim_scol_text %></p>
    <p><%= decouverte.anim_scol_img %></p>
    <button>
      <%= link_to 'Modifier', edit_decouverte_path(decouverte) %>
    </button>
    <button>
      <%= link_to "Supprimer ", decouverte_path(decouverte), data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr ?"}%>
    </button>
  <% end %>
</ul>

<button>
  <%= link_to 'Créer', new_decouverte_path %>
</button>
