<div class="page-main">
  <div class="page-padding">
    <section class="dashboard">
      <div class="dashboard-wrapper">
        <div class="title-wrapper">
          <h1 class="large">Page Découverte</h1>
          <% if @decouvertes.empty? %>
            <button>
              <%= link_to 'Créer', new_decouverte_path %>
            </button>
          <% end %>
        </div>
        <div class="content-wrapper">
          <div class="content">
            <div class="content-infos_wrapper active">
              <% @decouvertes.each do |decouverte| %>
                <div class="content-infos">
                    <h4>Circuits accompagnés</h4>
                    <div class="infos">
                      <%= cl_image_tag decouverte.circuit_acc_img.key, height: 150, width: 200, crop: :fill %>
                      <%= sanitize("#{decouverte.circuit_acc_text}".truncate(250)) %>
                    </div>
                    <hr>
                    <h4>Animation Scolaire</h4>
                    <div class="infos">
                      <%= cl_image_tag decouverte.anim_scol_img.key, height: 150, width: 200, crop: :fill %>
                      <%= sanitize("#{decouverte.anim_scol_text}".truncate(250)) %>
                    </div>
                </div>
                <div class="content-links">
                  <button>
                    <%= link_to 'Modifier les infos', edit_decouverte_path(decouverte) %>
                  </button>
                  <% if @decouvertes.count > 1 %>
                    <button>
                      <%= link_to "Supprimer", decouverte_path(decouverte), data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr ?"}%>
                    </button>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
