<div class="page-main">
  <div class="page-padding no-padding">
    <section class="dynamic-pages">
      <div class="dynamic-pages_wrapper" data-controller="main-map"
            data-main-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
            data-main-map-sentier-coordinates-value="<%= sentiers_coordinates_json(@themes) %>"
      >
        <div class="map-canva" data-main-map-target="canva">
        </div>
        <div class="infos_wrapper">
          <% @themes.sort_by(&:title).each do |sentier| %>
            <div class="info_bloc">
              <div class="sentier-title_bloc" data-tabs-target="tab" data-action="click->tabs#activate" data-tab-name="<%= sentier.title %>">
                <div class="sentier-title">
                  <h5><%= sentier.title %></h5>
                </div>
                <div class="sentier-title-arrow">
                  <i class="fa-solid fa-arrow-right"></i>
                </div>
              </div>
            </div>
            <div class="info_bloc">
              <div class="sentier-infos" data-tabs-target="panel" data-tab-name="<%= sentier.title %>">
                <h5><%= sentier.title %></h5>
                <div class="sentier-tech-infos">
                    <div class="difficulty">
                      <i class="fa-solid fa-arrow-right rotated-top-right"></i>
                      <span><%= sentier.difficulty %></span>
                    </div>
                    <div class="duration">
                      <i class="fa-regular fa-clock"></i>
                      <span><%= sentier.duration.strftime("%H:%M") %></span>
                    </div>
                  </div>
                  <p><%= sentier.description %></p>
                  <%= link_to sentier_path(sentier) do %>
                    <h5>
                      Découvrir ce sentier
                      <i class="fa-solid fa-arrow-right"></i>
                    </h5>
                  <% end %>
              </div>
              </div>
            <div class="info_bloc no-border">
              <div class="sentier-image" data-tabs-target="image" data-tab-name="<%= sentier.title %>">
                <%= cl_image_tag sentier.image.key, crop: :fill %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </section>
  </div>
</div>
