<div class="navbar navbar-expand-sm" data-controller="mobile-nav">
  <%= link_to root_path, class: "navbar-logo" do %>
    <%= image_tag "logo.png" %>
  <% end %>
  <div class="mobile-nav-buttons_wrapper">
    <i class="fa-solid fa-arrow-right" data-mobile-nav-target="burger" data-action="click->mobile-nav#activate" ></i>
    <span class="poppins-semibold" data-action="click->mobile-nav#activate">Infos & Menu</span>
    <i class="fa-solid fa-xmark" data-mobile-nav-target="cross" data-action="click->mobile-nav#activate"></i>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" data-mobile-nav-target="menu">
    <ul class="navbar-nav" data-controller="navbar">
      <li class="nav-item poppins-medium" data-action="mouseleave->navbar#removeDropright">
          <span class="nav-link gray" data-navbar-target="link" data-action="mouseover->navbar#dropright">
            <i class="fa-solid fa-arrow-right"></i>
            Menu du site
          </span>
        <div class="nav-dropright-menu" data-navbar-target="dropright">
          <%= link_to "Itinéraires", sentiers_path, class:"nav-link" %>
          <%= link_to "Thèmes", themes_sentiers_path, class:"nav-link" %>
          <%= link_to "Découverte", decouvertes_path, class:"nav-link" %>
          <%= link_to "Engagements", engagements_path, class:"nav-link" %>
          <%= link_to "Contact", "#", class:"nav-link" %>
          <% if user_signed_in? && current_user.admin?%>
            <%= link_to "Tableau de bord", dashboard_path, class: "nav-link" %>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
  <div class="nav-infos padding-top blacked" data-mobile-nav-target="menu">
    <h1><%= @sentier.title %></h1>
    <div>
      <span class="poppins-light-italic">Départ : <%= @sentier.depart_address %></span>
      <br>
      <span class="poppins-light-italic">Arrivée : <%= @sentier.arrival_address %></span>
    </div>
    <%= @sentier.description %>
  </div>
</div>
